.combo-menu {
  background: #F5F9FA url("../../../images/combo/combo-bg.png") no-repeat left 0 center;
  padding: 75px 0 100px;

  &__title {
    margin-bottom: 41px;
  }

  &__content {
    display: flex;
    margin: 0 -12px;
  }

  &__item {
    flex: 0 0 33.333%;
    padding: 0 12px;
  }
}