@font-face {
  font-family: "TT Interfaces";
  src: url("./../fonts/TTInterfaces-Regular.woff2") format("woff2"),
}

@font-face {
  font-family: "TT Interfaces";
  src: url("./../fonts/TTInterfaces-Bold.woff2") format("woff2");
  font-weight: bold
}

@font-face {
  font-family: "TT Interfaces";
  src: url("./../fonts/TTInterfaces-Medium.woff2") format("woff2");
  font-weight: 500
}

@font-face {
  font-family: "TT Interfaces";
  src: url("./../fonts/TTInterfaces-Light.woff2") format("woff2");
  font-weight: 300
}

