.my-btn {
  background: #E07153 url("../images/btn-bg.png") no-repeat center / cover;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #b94425;
  }

  &__icon {
    margin-right: 16px;
  }

  &--classic {
    padding: 13px 59px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }
}