.cart {
  align-items: center;
  background: #F5F5F5;
  border-radius: 6px;
  padding: 14px 17px;

  &__control {
    display: flex;
    align-items: center;
  }

  &__balance {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 0 28px;
    white-space: nowrap;
  }
  &__button {
    position: relative;
    padding: 0 19px;
  }

  &__foods-indicator {
    position: absolute;
    border-radius: 50%;
    display: flex;
    width: 16px;
    height: 16px;
    top: -8px;
    right: -8px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    background: #E07153;
    color: #fff;
  }
  &__content {}
}