.header {
  min-height: 172px;

  &__top {
    min-height: 89px;
    padding-left: 196px;
  }

  &__top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-wrapper {
    position: relative;
    margin-left: -196px;
  }

  &__logo {
    position: absolute;
    left: 0;
    top: 8px;
    max-width: 134px;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    gap: 0 48px;
    font-size: 14px;
    line-height: 17px;
  }

  &__tel {}
  &__tel-number {
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 3px;
    display: inline-block;
  }
  &__schedule {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #B7B7B7;
  }

  &__bottom {
    background: #F5F5F5;
    min-height: 83px;
    padding-left: 196px;
  }
}